body{
	  background-image: linear-gradient(#006699, #00cccc, #006699);
	  background-repeat:no-repeat ;
	  height: 100vh;
}

.bx1{
	background-color: #006699;
	height: 400px;
	width: 600px;
	margin: 200px 200px 200px 600px;
	border-radius: 20px;
	position: fixed;
}

#h1{
	text-align: center;
	padding: 50px 50px 5px 50px;
	font-family: Garamond, serif;
	letter-spacing: 7px;
	font-size: 50px;
	color:   #00cccc;
}
#inp1{
	margin-left: 180px;
	margin-bottom: 15px;
	font-size: 20px;
	border: 1px solid #006699;
	color: #006699;
}

#inp2{
	margin-left: 180px;
	margin-bottom: 15px;
	font-size: 20px;
	border: 1px solid #006699;
	color: #006699;
}
#btpass{
	margin-left: 5px;
	background: none;
	color: #00cccc;
	border-style: none;
}
#btpass:hover{
	background-color:#c6d9ec ;
}
#ent1{
	margin-left: 255px;
	border-style: none;
	background: none;
	font-size: 20px;
	color: #00cccc;
	letter-spacing: 10px;
	margin-top: 5px;
	}
#ent1:hover{
	background-color: #c6d9ec ;
	}
.noAcc{
	margin-top: 10px;
	display: flex;
}
#h2{
	margin-left: 210px;
	font-size: 15px;
	color: white;
}
#btn2{
	font-size: 15px;
	border-style: none;
	background: none;
	color: #00cccc;
	margin-top: 8px;
}
#btn2:hover{
	background-color: #c6d9ec;
}